__pycache__/
*.pyc
.env
*.egg-info/
venv/
.venv/
.cache/

# Generated D2 files (keep directory)
diagrams/aws-icon-package
diagrams/*.d2
diagrams/vpc-*/
diagrams/us-*/
diagrams/eu-*/
diagrams/ap-*/
diagrams/sa-*/
diagrams/ca-*/
diagrams/me-*/
diagrams/af-*/
!diagrams/.gitkeep

# Generated HTML and icon package (keep directory)
html/*
!html/.gitkeep
awslens.code-workspace
